@charset "euc-kr";

body, form, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, fieldset, legend { padding:0; margin:0; }
ul, ol, li { list-style:none; margin:0;}
img { border:0;}
hr{ display:none;}
a { color:#666; text-decoration:none; cursor:pointer;}
a:hover { color:#666; text-decoration:none; }

.hidden { display:block; position:absolute; top:-1000px; left:-1000px;}
.displayNone { display:none;}
.clear { display:block; float:none; clear:both; height:0; width:100%; font-size:0 !important; line-height:0 !important; overflow:hidden; margin:0 !important; padding:0 !important;}

body {font-size: 14px; color:#555; }
#wrap {width:100%; height:100%;}
* {padding:0; margin:0;}

/* common */
.red {color:#CE1032;}
.bold {font-weight:bold;}
.txt01 {font-size:20px;} /*게시판 최종수수료*/

/* ★header */
#header {
	position:relative; width:100%; min-width:1400px; height:170px; background-color:#F55F51; z-index:10;
	}
	/* ☆1depth  */
.gnb_area {
	position:fixed; width:100%; height:90px; background-color:#222; z-index:100;
	}
.gnb_in {
	width:1400px; margin:0 auto; color:#fff; font-size:18px;
	}
.gnb_in .logo {float:left;  width:144px; height:90px; margin-right:64px;}
.gnb li {float:left; list-style:none;}
.gnb li a {
	height:89px; display:block;  padding:0 24px 0 0; 
	color:#ffffff; font-size:18px; line-height:89px; font-weight:500;}
.gnb li a:hover {color:#DE032C; display:block;}
.gnb li a.on {color:#CE1032;}
		/* 로그인 메뉴  */
.login ul li {
	float:right; height:90px; line-height:89px; padding:0 6px; font-size:14px; color:#999999;
	}
	/* ☆2depth  */
.snb_area {
	position:fixed; width:100%; height:79px; top: 90px; background-color:#F5F5F5; border-bottom:solid 1px #E1E0E1; z-index:99;
	}
.snb_in {
	width:1400px; margin:0 auto; 
	}
.snb {position:relative; float:left; height:80px; left:0; top:0; }
.snb li {float:left; list-style:none;}
.snb li a {
	height:79px; display:block; padding:0 24px 0 0; 
	color:#555; font-size:17px; line-height:79px; font-weight:500;
	}
.snb li a:hover {color:#CE1032; display:block;}
.snb li a.on {color:#CE1032;}

.snb_in .today_sum {position:relative; float:right; height:80px; right:20px; top:0; font-size:14px; color:#555; }
.today_sum li {float:left; list-style:none; height:79px; line-height:79px; text-align:center; padding:0 6px; }

.snb_in .search_box {position:relative; float:right; width:335px; height:80px; right:0; top:0;}

/* 네이버 검색박스 */

/* 네이버 검색박스 끝 */
	
/* ★container */
#container {
	position:relative; width:1400px; height:100%; min-width:1400px; margin: 0 auto; background-color:#7ED1BE;
	}
.contents {
	position:relative; float:left; width:100%; min-height:100%; background-color:#F2D6BD;
	}
.bg01 {background:url(../images/common/bg01.png) top left repeat-y;}
.bg02 {background:url(../images/common/bg02.png) top right repeat-y;}
	/* ☆left  */
.con_left {
	position:relative; float:left; width:158px; min-height:200px;
	}
.con_left .brand, .cate {width:130px; margin-bottom:40px; border-bottom:solid 1px #E1E0E1;}
.con_left .title {
	font-size: 15px; font-weight:500; color:#000; width:130px; margin: 40px 0 0 32px;}
.con_left ul {margin:24px 0 40px 32px; }
.con_left li a {height:27px; display:block; color:#555; font-size:14px; line-height:27px; font-weight:400; text-align:left;}
.con_left li a:hover {color:#000; display:block;}
.con_left li a.on {color:#CE1032;font-weight:500; } 
	/* ☆right  */
.con_right{
	position:relative; float:left; width:1200px; min-height:200px; ;
	margin-left:40px; margin-bottom:200px;
	}
.con_right .top_area {
	width:100%; height:84px; line-height:90px;}
.con_right .top_area .title {font-size:20px; color:#000;}
	/* table - 상품리스트 */
.con_right table {width:100%; border-collapse: collapse; border-top:solid 2px #444444;}
.con_right table th {padding:10px; text-align:center; font-size:14px; color:#000; font-weight:500; border-bottom:solid 1px #E1E0E1;}
.con_right table td {padding:10px; text-align:center; font-size:14px; color:#222; font-weight:400; border-bottom:solid 1px #E1E0E1;}
.con_right table td.thumb img {width:120px;}
.con_right table td.title {text-align:left;}

/* ☆detail_left  */
.detail_left {
	position:relative; float:left; width:1030px; min-height:200px;
	padding: 0 35px; margin-bottom:200px; background-color:#FFE7D5;
	}
.detail_left .brand, .cate {width:130px; margin-bottom:40px; border-bottom:solid 1px #E1E0E1;}
.detail_left .title {
	font-size: 15px; font-weight:500; color:#000; width:130px; margin: 40px 0 0 32px;}
.detail_left ul {margin:24px 0 40px 32px; }
.detail_left li a {height:27px; display:block; color:#555; font-size:14px; line-height:27px; font-weight:400; text-align:left;}
.detail_left li a:hover {color:#000; display:block;}
.detail_left li a.on {color:#CE1032;font-weight:500; } 
	/* ☆detail_right  */
.detail_right{
	position:relative; float:left; width:220px; min-height:200px; 
	padding:0 40px; margin-bottom:200px; background-color:#F2D6BD;
	}
.detail_right .top_area {
	width:100%; height:84px; line-height:90px;}
.detailright .top_area .title {font-size:20px; color:#000;}
	

/* ★footer */
#footer {
	position:relative; clear:both; width:100%; min-width:1400px; background-color:#222;
	}
.footer_con {
	width:1400px; margin:0 auto; 
}


/* 스크롤바 색상 */
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-thumb:vertical{
    background-color: #ED7F93;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal{
    background-color: #c1c1c1;
    border-radius: 4px;
}

/* 플로팅 메뉴 */
.side-pop {
    position: fixed;    right: 10px;    bottom: 100px;}
.side-pop a {
    display: block;    padding-bottom: 7px;    text-align: right;}