/*--- common selector ---*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,form,fieldset,p,button{margin:0;padding:0;}
body,input,select,textarea{color:#000; font-family: 'Nanum Gothic', '나눔고딕', dotum, '돋움', sans-serif; font-size:87.5%;font-weight:normal;} /* 87.5% == 14px */
body{background-color:#fff; -webkit-text-size-adjust: none}
hr{display:none;}
img,fieldset{border:0;}
img,input,select,textarea{vertical-align:middle;}
ul,ol,li{list-style:none;}
a{color:#000;text-decoration:none;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
a:link,a:hover,a:active{text-decoration:none;}
input{vertical-align:middle}
input[type="text"], input[type="password"]{-webkit-appearance:none}
input[type="radio"]{border:none;-webkit-appearance:none}
button,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"]{-webkit-appearance:button;border-radius:0}
textarea{-webkit-appearance:none}
.ir{overflow:hidden;text-indent:-1000em;}
.invisible{display:none;}
.hide{visibility:hidden;width:1px;height:1px;line-height:0;overflow:hidden;position:absolute;top:-10000px;left:0;font-size:0;}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal;}

html,body { margin: 0px; padding: 0px; height: 100%;}
#wrap {position:relative; width:100%; min-width:320px; min-height:100%; height:100%; }
* {padding:0; margin:0;}



/* header */
.top_banner {
	width:100%; height:60px; background-color:#000;
	position:fixed; top:0; z-index:5; text-align:center;}
.header {margin-top:60px;}
.header .logo {
	display:flex; justify-content:center; align-items: center;
	width:100%; height:60px; background:rgba(255,255,255,0.85);
	position:fixed; top:60px; z-index:5; text-align:center;}
.logo img {width:30px; font-weight:bold; height:30px;}
.logo h1 {font-size:20px; width:50%;}
