

.mask{
	position: fixed; left: 0; top: 0; background: rgba(0, 0, 0, 0.7); 
	width: 100%; height: 100vh; z-index:200; display:;}
/* 팝업 템플릿 
.pop_t01 {margin-bottom:60px;}	
.pop_t02 {margin-bottom:60px; font-size:20px;}	
.pop_t03 {margin-bottom:24px;}*/
.close_w30 img {position:absolute; right:24px; top:15px; width:30px;}
button {background:none; border:0px;}

.scroll {overflow: scroll;}

/*	
.pop_r4_red {
	display:none; position:fixed; left: 50%; top: 50%; transform: translate(-50%,-50%); 
	min-width:520px; z-index:500; background: #fff; border-radius:4px;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);}
.pop_r4_red .title { 
	height:80px; background:#f40006; color:#fff; font-family:'Noto Sans KR';
	font-size:28px; font-weight:600; line-height:80px; letter-spacing:-1px;
	display:flex; justify-content:space-between;
	padding:0 20px 0 40px; border-radius: 4px 4px 0 0;}
.pop_r4_red .con {
	padding:40px 40px 48px 40px; font-size:18px; line-height:150%; color:#222225;}
.pop_r4_red h2 {
	font-size:24px; font-weight:600; font-family:'Noto Sans KR'; margin-bottom:12px;}
.pop_r4_red .btn {margin:0 auto; text-align:center;}
.pop_r4_red .btn a {
	display:inline-block; background:#f40006; color:#fff; text-align:center;
	min-width:180px; height:64px; line-height:64px; 
	padding:0 30px; border-radius:90px;
	font-size:24px; font-weight:600; font-family:'Noto Sans KR'; }
	
.pop_r4_red .btn_yel {margin:0 auto; text-align:center;}	
	.btn_yel a {
	display:inline-block; background:#fae100; color:#fff; text-align:center;
	min-width:180px; height:64px; line-height:64px; 
	padding:0 30px; border-radius:90px;
	font-size:24px; font-weight:600; font-family:'Noto Sans KR'; }
	
.pop_r4 {
	display:none; position:fixed; left: 50%; top: 50%; transform: translate(-50%,-50%); 
	z-index:500; background: #fff; border-radius:4px;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);}
.pop_r4 .close {position: absolute; top:8px; right:8px;}
.pop_r4 .con_left { text-align:left;
	padding:50px 50px 32px 50px; font-size:16px; line-height:150%; color:#222225;}
.pop_r4 .con { text-align:center;
	padding:50px 50px 32px 50px; font-size:16px; line-height:150%; color:#222225;}
.pop_r4 .btn {margin:0 auto; text-align:center;}
.pop_r4 .btn a {
	display:inline-block; background:#f40006; color:#fff; text-align:center;
	min-width:60px; height:40px; line-height:40px; 
	padding:0 30px; border-radius:90px;
	font-size:16px; font-weight:600; font-family:'Noto Sans KR'; }
.pop_r4 h3 {
	font-size:19px; font-weight:600; font-family:'Noto Sans KR'; margin-bottom:16px;}
*/
.pop_r24_red {
	display:; position:fixed; left: 50%; top: 50%; transform: translate(-50%,-50%); 
	width:90%; min-width:300px; z-index:500; background: #fff; border-radius:24px;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);}
.pop_r24_red .title { 
	width:100%; height:60px; line-height:60px; background:#f40006; color:#fff; 
	font-family:'Noto Sans KR';
	font-size:clamp(16px, 5vw, 21px); font-weight:600; letter-spacing:-1px;
	border-radius: 24px 24px 0 0;}
.pop_r24_red .con {
	padding:12px 5% 24px 5%; font-size:clamp(13px, 4.1vw, 18px); line-height:1.3; color:#222225;}
	
	/*
.pop_r24_red h2 {
	font-size:24px; font-weight:600; font-family:'Noto Sans KR'; margin-bottom:12px;}
.pop_r24_red .btn {margin:0 auto; text-align:center;}
.pop_r24_red .btn a {
	display:inline-block; background:#f40006; color:#fff; text-align:center;
	min-width:180px; height:64px; line-height:64px; 
	padding:0 30px; border-radius:90px;
	font-size:24px; font-weight:600; font-family:'Noto Sans KR'; }

/*	
.pop_r24 {
	display:none; position:fixed; left: 50%; top: 50%; transform: translate(-50%,-50%); 
	z-index:500; background: #fff; border-radius:24px;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);}
.pop_r24 .close {position: absolute; top:12px; right:12px;}
.pop_r24 .con_left { text-align:left;
	padding:50px 50px 32px 50px; font-size:16px; line-height:150%; color:#222225;}
.pop_r24 .con { text-align:center;
	padding:50px 50px 32px 50px; font-size:16px; line-height:150%; color:#222225;}
.pop_r24 .btn {margin:0 auto; text-align:center;}
.pop_r24 .btn a {
	display:inline-block; background:#f40006; color:#fff; text-align:center;
	min-width:60px; height:40px; line-height:40px; 
	padding:0 30px; border-radius:90px;
	font-size:16px; font-weight:600; font-family:'Noto Sans KR'; }
.pop_r24 h3 {
	font-size:19px; font-weight:600; font-family:'Noto Sans KR'; margin-bottom:16px;}

.pop_r4_red ul li {margin-bottom:8px;}


/* 그림자 더 진한 버전 
.add_shadow05 {box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);}
.add_shadow07 {box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.7);}
	
/* 파트너 유형 팝업 
	
.contents_popup {display:flex; width:100%;} 	
.content_box {margin:0 auto; z-index:500;}

.title_area_out {position: relative; text-align:center; color:#fff; }
.title_area_out h1 {font-size:48px; font-family:'Noto Sans KR'; color:#fff; margin-bottom:32px;}
.title_area_out h2 {font-size:24px; font-weight:400; font-family:'Noto Sans KR'; color:#fff; margin-bottom:64px;}
.popup_close_w40 {position: absolute; top:10px; right:10px;}

.section_area01 {width:980px; display:flex; justify-content:space-between;}
.box_type {
	width:420px; min-height:600px; padding:60px 20px;
	display:flex; flex-direction: column; align-items:center;
	background-color:#F5F5F5; border-radius:30px;}
.box_type h3 {font-size:32px; margin:8px 0 24px; font-family:'Noto Sans KR'}
.box_type ul.list_view {width:300px; margin:40px 0 0 0; }
.box_type ul.list_view li {list-style:disc; font-size:16px; font-weight:bold; line-height: 32px;}

.box_type02 {
	width:420px; height:710px; padding:90px 20px 0 20px;
	display:flex; flex-direction: column; align-items:center;
	background:url(../images/common/0501.png) no-repeat center top; border-radius:30px;}
.box_type02 h3 {font-size:32px; margin:8px 0 24px; font-family:'Noto Sans KR'}
.box_type02 ul.list_view {width:300px; margin:90px 0 0 0; }
.box_type02 ul.list_view li {font-size:16px; font-weight:bold; line-height: 32px; text-align: center;}
.box_type02 a {position:absolute; bottom:50px;}



/* 수수료 팝업 - 추후 삭제 가능 
#popup_wrap {position:fixed; top:50%; left:60%;}
#popup_wrap_data {position:fixed; top:75%; left:70%; z-index:500;}
.popup_box {
	min-height:120px; background-color:#fff; 
	border-radius:8px; z-index:500; padding: 12px 12px 24px 12px; text-align:center;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);}
.pop_size280 {width:256px;}
.pop_size200 {width:176px;}		
.close_btn_top{display:flex; justify-content: flex-end;}
.txt14 {font-size:14px; color:#77777a;}

/* sort 팝업 */
.pop_mn {
	display:flex; flex-wrap: wrap; align-items:flex-start; width:100%; text-align:left;}
.pop_mn li {overflow: hidden; width: 50%; height:50px;}	
.pop_mn li a {display:block; height:50px; line-height:48px; padding-left:50px;}
.bg_cate {background: url(../images/common/bg_cate.png)  no-repeat;
	background-size: 50px 850px; vertical-align: top;}
.mn00 {background-position: 0px -800px;}
.mn01 {background-position: 0px 0px;}
.mn02 {background-position: 0px -50px;}
.mn03 {background-position: 0px -100px;}
.mn04 {background-position: 0px -150px;}
.mn05 {background-position: 0px -200px;}
.mn06 {background-position: 0px -250px;}
.mn07 {background-position: 0px -300px;}
.mn08 {background-position: 0px -350px;}
.mn09 {background-position: 0px -400px;}
.mn10 {background-position: 0px -450px;}
.mn11 {background-position: 0px -500px;}
.mn12 {background-position: 0px -550px;}
.mn13 {background-position: 0px -600px;}
.mn14 {background-position: 0px -650px;}
.mn15 {background-position: 0px -700px;}
.mn16 {background-position: 0px -750px;}
	
/*.pop_icon {
	overflow: hidden; position: relative; width: 50px; height: 50px; margin: 0 auto;
	background: url(../images/common/menu_icon.png);
	background-size: 290px 265px; vertical-align: top;}	
.mn01 {background-position: -200px 0;}
.cate {background-position: -60px 0;}

/* 메인 팝업 */
.mask02{
	position: fixed; left: 0; top: 0; background: rgba(0, 0, 0, 0.7); 
	width: 100%; height: 100vh; z-index:200; }
.pop_new {
	position:fixed; width:100%; max-width:600px; left: 50%; top: 50%; transform: translate(-50%,-50%); 
	z-index:500;}
.pop_new img {width:100%; height:auto;}
.close_w24 img {
	position:absolute; top:-20px; right:0px; width:40px;}


button {background:none; border:0px;} /* 상단에 중복 - 팝업 완료 후 삭제 */