/* font */
@font-face {
    font-family: 'SCDream'; font-style: normal; font-weight: 500;
    src: local('SCDream'),
        url('../../partners/font/S-CoreDream-5Medium.woff2') format('woff2'), 
        url('../../partners/font/S-CoreDream-5Medium.woff') format('woff'),}
        
@font-face {        
    font-family: 'SCDream-4'; font-style: normal; font-weight: 400;
    src: local('SCDream-4'),
        url('../../partners/font/S-CoreDream-4.woff2') format('woff2'), 
        url('../../partners/font/S-CoreDream-4.woff') format('woff'),}
        
/*--- common selector ---*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,form,fieldset,p,button{margin:0;padding:0;}

body,input,select,textarea{color:#000; font-family:'Noto Sans KR','Apple SD Gothic Neo', sans-serif, 'Montserrat','Nanum Gothic', 'malgun gothic', Arial, Verdana, AppleGothic;  font-size:93.75%; font-weight:normal;} /* 93.75% == 15px */
body{background-color:#fff; -webkit-text-size-adjust: none}
hr{display:none;}
img,fieldset{border:0;}
img,input,select,textarea{vertical-align:middle;}
ul,ol,li{list-style:none;}
a{color:#000;text-decoration:none;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
a:link,a:hover,a:active{text-decoration:none;}
input{vertical-align:middle}
input[type="text"], input[type="password"]{-webkit-appearance:none}
input[type="radio"]{border:none;-webkit-appearance:none}
button,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"]{-webkit-appearance:button;border-radius:0}
textarea{-webkit-appearance:none}
.ir{overflow:hidden;text-indent:-1000em;}
.invisible{display:none;}
.hide{visibility:hidden;width:1px;height:1px;line-height:0;overflow:hidden;position:absolute;top:-10000px;left:0;font-size:0;}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal;}

html,body { margin: 0px; padding: 0px; height: 100%;}
#wrap {position:relative; width:100%; min-width:320px; min-height:100%; height:100%; }
* {padding:0; margin:0;}




/* header */
#header {width:100%; height:110px;} /* 상단 2단  */
#header02 {width:100%; height:60px;} /* 상단 1단 */
.top {
	position:fixed; top:0px; z-index:10;
	width:100%; height:60px; background-color:#000; color:#fff;}
.top h1 {font-size:20px; margin-left:5%; font-family:'Noto Sans KR';}
.top_mn {margin-right:3%;}
.top_mn ul {display:flex;}
.top_mn ul li a {display:block; height:60px; line-height:60px; font-size:10px;}

.topmn_bg {
	overflow: hidden; position: relative; width: 40px; height: 60px; margin: 0 auto;
	background: url(../images/common/nav.png);
	background-size: 360px 180px; vertical-align: top;}	
.top_search {background-position: -5px -100px;}
.top_cate {background-position: -65px -100px;}
.top_my {background-position: -125px -100px; }
.top_back {background-position: -185px -100px; }

.top_title {display: flex; height:60px; margin-left:2%;}
.top_title h2 {font-size:18px; line-height:55px; font-weight:400;}


	/* gnb */
.gnb {
	position:fixed; top:60px; z-index:10;
	width:100%; height:50px; background-color:#fff; border-bottom:solid 1px #F5F5F5; overflow:hidden;}
.gnb ul {display:flex; justify-content:space-evenly; }
.gnb ul li a {display:block; height:48px; line-height:48px; padding:0 8px;}
.gnb ul li a.on {border-bottom:solid 2px #F40006; color:#F40006; font-weight:bold;}

	/* 하단 nav */
#nav {
	width:100%; height:50px; position:fixed; bottom:0px;  z-index:10;
	border-top:solid 1px #E1E0E1; background-color:#fff;}
#nav ul {display:flex; justify-content:space-evenly; }
#nav ul li a {display:block; height:50px; line-height:50px; font-size:10px;}

.nav_bg {
	overflow: hidden; position: relative; width: 50px; height: 50px; margin: 0 auto;
	background: url(../images/common/nav.png);
	background-size: 360px 180px; vertical-align: top;}	
.home {background-position: 0px 0;}
.cate {background-position: -60px 0;}
.comu {background-position: -120px 0;}
.cus {background-position: -180px 0;}
.my {background-position: -240px 0;}
.home_on {background-position: 0px -50px;}
.cate_on {background-position: -60px -50px;}
.comu_on {background-position: -120px -50px;}
.cus_on {background-position: -180px -50px;}
.my_on {background-position: -240px -50px;}

/* common */
.pt24 {padding-top:24px;}
.pt80 {padding-top:80px;}
.pb24 {padding-bottom:24px;}
.pb40 {padding-bottom:40px;}
.pb72 {padding-bottom:72px;}
.pb96 {padding-bottom:96px;}

.flex {display:flex; align-items:center;}
.flex_js_center {justify-content:center;}
.flex_al_center {align-items: center;}
.flex_btw {justify-content: space-between;}
/*.flex_end {display:flex; justify-content:flex-end;}
.flex_start {display:flex; align-items:flex-start;}*/
.inline-flex {display:inline-flex; align-items:center;}

.blue {color:#0500F4;}
.red {color:#f40006;}
.red02 {color:#CE1032;}
.gray {color:#77777a;}
.black {color:#222225;}
.white {color:#ffffff;}
.yellow {color:#FDFD00}
.bold {font-weight:bold;}


/* main */
.main_box01 {
	width:90%; height:auto; border:solid 4px #ffffff; border-radius:24px;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2); margin:0 auto; overflow: hidden;
	margin-bottom:42px;}
.main_box01 img {width:100%;}
.main_phone {font-size:24px; font-weight:600;font-family:'SCDream','NotoSans KR'; font-weight: 500; 
	letter-spacing:-1px; margin-bottom:15px;}
.main_time {font-size:10px; color:#999999; font-family:'SCDream','NotoSans KR'; 
	margin-bottom:40px;}

/* contents */
#container {
	width:100%; height:100%; margin-bottom:50px;} /* 상단 2단 */
#container02 {
	width:100%; height:100%; margin-bottom:50px;} /* 상단 1단 */

.contents_100 {width:100%; max-width:600px; margin:0 auto; text-align:center;}
.contents_100 img {width:100%;}
.contents {width:90%; max-width:600px; margin:0 auto; text-align:center; color:#222225;}
.contents img {width:100%;}
.bg_gray {text-align:center; background-color:#F5F5F5;}

	/* 기본B 메인 영상 영역 */
.main_img_b {
	width:270px; height: 480px; border-radius:28px;
	overflow: hidden; object-fit:cover;
	border:solid 4px #fff; box-shadow: 0 5px 20px 0 rgba(205, 205, 205, 1);
	margin:36px auto 24px auto;}
.main_img_b video {width:270px; height: 480px; overflow: hidden;}
.main_img_b img {width:270px; height: 480px; border-radius:28px;}
img.main_b_txt01 {left:20%; width:72px; padding-bottom:96px;}

	/* 기본C 메인 영상 영역 */
img.key02_txt01 {margin-left:50%; width:113px; height:43px;}
img.key02_txt02 {position:absolute; left:0; width:92px; height:75px;}
.bg_good_a02 {position:relative; margin:16px auto 16px auto; width:100%;}
	
.key02_main .mv_keymain {position:relative; width:40%; height:auto; object-fit:cover;}
.key02_main video{
	border:solid 4px #fff; border-radius:16px;
	background:#fff; text-align:right; 
	box-shadow: 0 5px 20px 0 rgba(205, 205, 205, 1);
	position:absolute; top:0; left:0; z-index:5; overflow: hidden;}	

.mv_key02sub {position:relative; width:36%; height:auto; object-fit:cover;}	
.key02_left video{
	border:solid 4px #fff; border-radius:16px;
	background:#fff;
	box-shadow: 0 5px 20px 0 rgba(205, 205, 205, 1);
	position:absolute; top:7px; left:0%; z-index:4; overflow: hidden;}
.key02_right video{
	border:solid 4px #fff; border-radius:16px;
	background:#fff;
	box-shadow: 0 5px 55px 0 rgba(205, 205, 205, 1);
	position:absolute; top:7px; right:0%; margin-left:25px; z-index:3; overflow: hidden;}

	/* 성공사례 메인 영상 영역 */
img.key_txt01 {padding-left:30%; width:25%;}
img.key_txt02 {padding-top:240px; padding-right:350px; width:25%;}
.bg_good_a {position:relative;
	margin:16px auto 95px auto; width:100%;}
.key_main .mv_keymain {width:130px; height:231px; object-fit:cover;}
.key_main video{
	border:solid 4px #fff; border-radius:16px;
	background:#fff; text-align:right; 
	box-shadow: 0 5px 20px 0 rgba(205, 205, 205, 1);
	position: absolute; top:0px; left:50%; margin-left:-65px; z-index:5; overflow: hidden;}	

.mv_keysub {width:120px; height:213px; object-fit:cover;}	
.key_left video{
	border:solid 4px #fff; border-radius:16px;
	background:#fff;
	box-shadow: 0 5px 20px 0 rgba(205, 205, 205, 1);
	position: absolute; top:7px; left:50%; margin-left:-150px; z-index:4; overflow: hidden;}
.key_right video{
	border:solid 4px #fff; border-radius:16px;
	background:#fff;
	box-shadow: 0 5px 55px 0 rgba(205, 205, 205, 1);
	position: absolute; top:7px; left:50%; margin-left:25px; z-index:3; overflow: hidden;}

	/* 성공사례 b */
.good_case {
	line-height:150%;
	font-family:'SCDream-4','NotoSans KR'; font-size:15px; text-align:left;
	margin-bottom:24px;}
.case_area {display: flex; justify-content: space-between; margin-bottom:8px;}
.case_area .ad_img {margin-right:4%;}
.case_area .ad_img video {
	border:solid 4px #ffffff; border-radius:16px; background:#fff;
	box-shadow: 0 5px 20px 0 rgba(205, 205, 205, 1);}
.case_area .mv {width:120px; height:209px; object-fit:cover;}
.case_area .ad_img img {width:120px; height:209px; border:solid 4px #ffffff; border-radius:16px; box-shadow: 0 5px 20px 0 rgba(205, 205, 205, 1);}

.case_area .txt_area {width:100%;}
.case_area .txt_area .profile {margin:0px 0 8px 0;}
.case_area .txt_area .profile img {height:19px; width:auto;}
.case_area .txt_area .copy {margin-bottom:16px;}
.case_area .txt_area .copy img {height:41px; width:auto;}
.case_area .txt_area .result {font-size:11px; font-weight:normal; line-height:150%;}
.result table th {font-size:11px; width:44px; letter-spacing:-1px; color:#222225;}
.result table td {font-size:11px; letter-spacing:-1px; color:#222225;}

.marketing {
	font-size:12px; font-weight:normal; line-height:150%; color:#77777a;
	margin-top:16px;}
.marketing .h5 {font-size:16px; font-weight:600; margin-bottom:8px; color:#222225;}
/*.marketing .h6 { font-size:12px;
	width:65px; display:inline-block; font-weight:700; margin-right:4px; color:#222225;}*/
	
.good_case .h7 {font-weight:500; color:#77777a; font-size:11px;}
.txt_add {color:#77777a; font-size:11px;}
.marketing ul li {padding:1px 0; font-size:11px;}
.marketing table th {font-size:11px; width:66px; letter-spacing:-1px; color:#222225; }

a.btn_main02 {
	display:inline-block; width:128px; padding:4px 0;
	color:#fff; background:#222225; border-radius:30px; text-align:center;
	font-size:12px; font-family:'SCDream-4','NotoSans KR'; font-weight: 500; }
	
a.btn_main03 {
	display:inline-block; min-width:200px; width:55%; height:50px; line-height:50px; 
	color:#fff; background:#CE1032; border-radius:8px;
	font-size:18px; font-family:'SCDream','NotoSans KR'; font-weight: 500; 
	letter-spacing:-1px;}
	
.btn_main04 {
	display:flex; align-items:center; justify-content: center;
	min-width:200px; width:55%; height:50px; margin:0 auto;
	color:#fff; background:#CE1032; border-radius:8px;
	font-size:18px; font-family:'SCDream','NotoSans KR'; font-weight: 500; 
	letter-spacing:-1px;}
.btn_main04 img {width:24px; height:24px; margin-right:4px;}
	
	
.btn_bt_area {margin:40px 0 48px 0;} /* 메인 특별프로모션 버튼 영역 */
.btn_bt_area a {margin:0 1%;}
.btn_bt_area img {width:30%;}

/* menu */
.menu {width:100%; margin:16px auto; border-bottom:solid 1px #E1E0E1; }
.menu li {height:40px; line-height:40px; text-align:left;}
.menu a {display:block; padding-left:38px;}

.end {margin:0 0 16px 0;}

.menu_end {width:100%; margin:16px auto; }
.menu_end li {height:40px; line-height:40px; text-align:left;}
.menu_end a {display:block; padding-left:38px;}
		
.mn01 {background: url(../images/common/test.png) no-repeat left top;
	background-size: 40px 40px; padding-left:40px;}
.mn02 {background: url(../images/common/test.png) no-repeat left top;
	background-size: 40px 40px; padding-left:40px;}
.mn03 {background: url(../images/common/test.png) no-repeat left top;
	background-size: 40px 40px; padding-left:40px;}
.mn04 {background: url(../images/common/test.png) no-repeat left top;
	background-size: 40px 40px; padding-left:40px;}
.mn05 {background: url(../images/common/test.png) no-repeat left top;
	background-size: 40px 40px; padding-left:40px;}

/* btn */
/*.btn_area_flex {display:flex; justify-content:space-between; width:100%; padding-top:18px;}
.btn_area_flex a {padding: 0 2px;}
.btn_area_flex_center {display:flex; justify-content:center; width:100%;}
.btn_area_100per {display:flex; justify-content:center;}*/
.btn_area_24p {width:24%;}

/*a.button {
    display: block; position: relative; width: 100%; padding: 0; margin: 10px 0; 
    font-size:15px; font-weight: 600; text-align: center; line-height: 50px; color: #FFF; 
    border-radius: 5px; transition: all 0.2s;
}*/
a.button_fix120r {
    display: inline-block; position: relative; width: 120px; height:48px; 
    padding: 0; margin: 10px 8px; 
    font-size:16px; font-weight: 400; text-align: center; 
    line-height: 48px; color: #FFF; border-radius: 60px;
}
/*a.button_fix200r {
    display: block; position: relative; width: 200px; height:60px; 
    padding: 0; margin: 10px 0; 
    font-size:20px; font-weight: 600; text-align: center; 
    line-height: 60px; color: #FFF; 
    border-radius: 60px; transition: all 0.2s;
}
a.button_fix300r {
    display: block; position: relative; width: 300px; height:60px; 
    padding: 0; margin: 10px 0; 
    font-size:18px; font-weight: 600; text-align: center; 
    line-height: 60px; color: #FFF; 
    border-radius: 60px; transition: all 0.2s;
} /* 캠페인 유형선택 코드요청 버튼 */
/*a.button_fix194 {
    display: block; width: 48%; height:50px; 
    font-size:15px; font-weight: 600; text-align: center; line-height: 50px; color: #FFF; 
    border-radius: 5px; transition: all 0.2s;
} /* 캠페인 상세보기 버튼 */
/*a.button_fix194_line {
    display: block; width: 48%; height:48px; 
    font-size:15px; font-weight: 600; text-align: center; line-height: 50px; color: #222225; 
    border-radius: 5px; transition: all 0.2s;
    border:solid 1px #222225;
} /* 캠페인 상세보기 버튼 */
a.button_100p {
    display: block; position: relative; width: 100%; height:50px;
    padding: 0; margin: 10px 0; line-height: 50px; 
    font-size:16px; font-weight:600; text-align: center; color: #FFF; 
    border-radius: 5px;
} /* 마이페이지, 회원가입 블랙버튼 */
a.button_30p {
    display: block; position: relative; width:100%; height:50px;
    padding: 0; line-height: 50px; 
    font-size:15px; font-weight: 400; text-align: center; color: #fff; 
    border-radius: 5px; transition: all 0.2s;
} /* 마이페이지, 회원가입 블랙버튼 */
/*
a.button_130 {
    display: block; position: relative; width: 130px; height:40px;
    padding: 0; line-height: 40px; 
    font-size:15px; font-weight: 400; text-align: center; color: #fff; 
    border-radius: 5px; transition: all 0.2s;
} /* 커뮤니티> 게시판 버튼 */
.btnRed { background: #CE1032;}
.btnBlack { background: #222225;}
/*.btnWhite { background: #ffffff;}
.btnWhite02 { background: #ffffff; border:solid 1px #E1E0E1;}
.btnGray { background: #E1E0E1; color:#fff;}
a.btnBlackLine {display:inline-block; border:solid 1px #222225; border-radius:32px; padding:4px 24px; margin:16px 0; color:#222225; font-size:16px;}/*유튜브 쇼핑탭 버튼*/

/* 마이페이지 - 회원가입, 로그인 영역 */
/*.contents_members {
	width:100%; min-height:600px;
	padding:150px 0 250px 0;
	display:flex; flex-direction: column; align-items: center;
} */
.members h2 {
	font-size:16px; line-height:150%; font-weight:400; color:#77777a; text-align:center;}

.members ul.input_list {margin-bottom:40px;}
.members ul.input_list li {padding:4px 0px;}
.input_list .add_txt {font-size:12px; color:#77777a; padding: 8px 0 0 12px; line-height:22px; text-align: left;} /*코드회원가입 덧글*/

/*.members ul.input_list02 {margin-bottom:40px;}
.members ul.input_list02 li {padding:4px 0px; color:#77777a;}
*/
.input_list .check_line02 {display:flex; align-items: center;} /* 자동로그인 */
.input_list li a.idpw_link{color:#77777a;} 

.members div.check_list {font-size:16px; font-weight:500;}
.members ul.check_list {width:100%; border-radius:4px; background-color:#F5F5F5; padding:8px 0; margin-bottom:24px;}
.members ul.check_list li {
	display:flex; justify-content:space-between; 
	font-size: 12px; color:#77777A; height:50px; padding:0px 4px 0 4px;}
.members ul.check_list a {
	display:inline-block; width:50px; height:45px; line-height:50px;
	text-align:center;}	
.members ul.check_list a img {width:24px; height:24px; margin-top:-2px;}
.check_list .check_line {display:flex; align-items: center; }
.check_list .add_txt {font-size:12px; line-height:150%;} /*필수약관 덧글*/

/* 회원가입 기본 */
.top_cp {margin-bottom:58px;}
.kakao_btn {margin-bottom:96px;}
.top_bn {margin-bottom:56px;}
.faq_con02 {width:100%;}
.faq_con02 dt {border-bottom:solid 1px #F5F5F5; text-align:left; background:url(../images/common/ico_arrow_down.png) 98% 50% no-repeat;
background-size:24px 24px;}
.faq_con02 dt a {display:block; padding:12px 32px 12px 12px; font-size:11px; color:#77777a;}
.faq_con02 dd {text-align:left; background:#F5F5F5; padding:12px; font-size:11px; color:#77777a; border-bottom:solid 1px #F5F5F5; line-height:150%;}
.faq_con02 dd div {display: flex;}
.faq_con02 dd .en_a {padding:0 12px 0 0;}
.faq_con02 dt .en_q {padding:0 12px 0 0;}
.member_fbtn {display:flex; justify-content: flex-end; margin-top:4px;}
.member_fbtn a {height:50px; line-height:50px; padding:0 12px; color:#77777a; font-size:14px;}

/* 로그인 - 자동로그인 체크박스 
.check_line02 input#check_btn{display:none;}
.check_line02 input#check_btn + label{cursor:pointer;}*/
	/* label:before에 체크하기 전 상태 CSS */
.check_line02 input#check_btn + label:before{ 
  content:""; display:inline-block;  width:30px; height:50px;
  background-image: url('../images/common/input_check02.png');
  background-repeat: no-repeat; background-position: 10% 60%;
  }
	/* label:before에 체크 된 상태 CSS   */
.check_line02 input#check_btn:checked + label:before{
  content:"";  width:30px;  height:50px;
  background-image: url('../images/common/input_check02_on.png');
  background-repeat: no-repeat;  background-position: 10% 60%;
  }

/* 로그인 - 사용자약관 체크박스 */
input#check_btn{display:none;}
input#check_btn + label{cursor:pointer;}
	/* label:before에 체크하기 전 상태 CSS */
input#check_btn + label:before{ 
  content:""; display:inline-block;  width:30px; height:50px;
  background-image: url('../images/common/input_check.png');
  background-size: 20px 20px;
  background-repeat: no-repeat; background-position: 60%;
  }
	/* label:before에 체크 된 상태 CSS */  
input#check_btn:checked + label:before{
  content:"";  width:30px;  height:50px;
  background-image: url('../images/common/input_check_on.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;  background-position: 50%;
  }
    
/* 마이페이지, 로그인등 input 박스 */
.input_box {
	height:50px; width:96%; padding:0 2%;
	background:#fff; border:solid 1px #E1E0E1; border-radius:4px;}
.input_box .input_txt {
	width:100%; 
	border:none; background:none; outline:none; 
	color:#77777a; font-size:12px; letter-spacing:-0.7px; line-height:50px;}

.td_flex {display:flex; justify-content: space-between;}	

.input_box_70p {
	height:50px; width:70%; padding:0 2%;
	background:#fff; border:solid 1px #E1E0E1; border-radius:4px;}
.input_box_70p .input_txt {
	width:100%;   
	border:none; background:none; outline:none; float:left;
	color:#77777a; font-size:12px; line-height:50px;}
/*.input_box_56 {
	height:34px; width:88px; padding:10px;
	background:#fff; border:solid 1px #E1E0E1; border-radius:4px;}
.input_box_56 .input_txt {
	width:56px; padding:2px 4px;   
	border:none; background:none; outline:none; float:left;
	color:#77777a; font-size:15px; line-height:30px;}
.input_box_200 {
	height:34px; width:178px; padding:10px;
	background:#fff; border:solid 1px #E1E0E1; border-radius:4px;}
.input_box_200 .input_txt {
	width:156px; padding:2px 4px;  
	border:none; background:none; outline:none; float:left;
	color:#77777a; font-size:15px; line-height:30px;}


.t12 {line-height:56px; width:20px; text-align: center;}
.t13 {width:100%; margin: 10px 0 0 10px;font-size:15px; height:46px; line-height:56px; color:#77777a;}
.t14 {width:438px; height:50px; line-height:50px; text-align:left; font-size:14px; color:#77777a; padding: 0 12px;}
.t14 a{color:#77777a;}

.select {
	width:460px; height:56px; background:#f5f5f5; background-image:url(../images/common/icon_select.png) no-repeat 95% 58%; border-radius:4px; border:0px;}
.select_box {
	width:460px; height:56px; padding:10px;
	background:#f5f5f5; border-radius:4px; border:0px;
	background:url(../images/common/icon_select.png) no-repeat 95% 58%;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	}
.select_box:hover {
	width:460px; height:56px; padding:10px;
	background:#f5f5f5; border-radius:4px; border:0px;
	background:url(../images/common/icon_select.png) no-repeat 95% 58%;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	}
.select::-ms-expand {display:none;}

/* 로그인 QnA 
.member_qna { width:460px;}

.member_qna .qna_q { 
	border-bottom:solid 1px #F5F5F5; display: block;
    height:50px; line-height:50px; padding: 0 10px;
    font-size: 14px; color: #77777a; text-align: left;
    background: url(../images/common/icon_qna_arrow.png) 98% 50% no-repeat;}

.member_qna .qna_a {
	display:none ;
	font-size: 14px; color: #77777a; text-align: left; padding: 10px 16px;
    background: #F5F5F5; }

	/* 마이페이지 */
.top_banner {width:100%; margin-top:40px;}
.tab_menu_area {width:100%;}
.tab_menu_area ul{ display:flex; flex-direction: row; margin-bottom:8px;}
/*ul.tab li a{
	display:inline-block; width:200px; height:50px; background-color:#F5F5F5;
	border-top:solid 2px #f5f5f5; border-left:solid 2px #f5f5f5; border-right:solid 2px #f5f5f5; border-radius:8px 8px 0 0; 
	line-height:50px; text-align:center;margin:0px;
	color:#999;}
ul.tab li a.on {
	display:inline-block; width:200px; height:50px; background-color:#fff;
	border-top:solid 2px #77777a; border-left:solid 2px #77777a; border-right:solid 2px #77777a;
	color:#222225; font-weight:bold;}
.icon_my {background:url(../images/common/icon_mymembership.png) 200px 15px no-repeat; }

/* ID/PW찾기 탭  */
/*
.tab_menu_area02 {width:100%;}
.tab_menu_area02 ul{ display:flex; flex-direction: row; margin-bottom:60px;}*/
.tab02 li {width:50%; background-color:#F5F5F5;}
.tab02 li a{
	display:inline-block; width:98%; height:50px; background-color:#F5F5F5;
	border:solid 2px #f5f5f5; border-radius:4px; 
	line-height:50px; text-align:center; margin:0px;
	color:#999;}
.tab02 li a.on {
	display:inline-block; width:98%; height:50px; background-color:#fff;
	border:solid 2px #77777a;
	color:#222225; font-weight:bold;}
.t15 {height:56px; line-height:56px; font-size:18px; color:#222225; margin:60px 0 0 0;}
.tab03 li {width:50%; background-color:#F5F5F5;}	
.tab03 li a{
	display:inline-block; width:98%; height:50px; background-color:#F5F5F5;
	border-top:solid 2px #f5f5f5; border-left:solid 2px #f5f5f5; border-right:solid 2px #f5f5f5; border-radius:4px 4px 0 0; 
	line-height:50px; text-align:center;margin:0px;
	color:#999;}
.tab03 li a.on {
	display:inline-block; width:98%; height:50px; background-color:#fff;
	border-top:solid 2px #77777a; border-left:solid 2px #77777a; border-right:solid 2px #77777a;
	color:#222225; font-weight:bold;}





/* footer */
#footer .contents {text-align:left; padding-bottom:96px;}
.foot_txt01 {color:#77777A; font-size:12px; line-height:150%; margin-bottom:24px;}
.foot_txt02 {color:#B1B1B1; font-size:12px; line-height:150%;}
.foot_mn {display:flex; margin-bottom:24px;}
.foot_mn li {font-size:12px; color:#77777A; padding:0 16px 0 0;}

#footer .btn_area {display:flex; justify-content: space-between; margin-bottom:8px;}
#footer .btn_area li {width:49.5%;}
#footer .btn01 {
	display:flex; align-items:center; justify-content: center;
	width:100%; height:40px; margin:0 auto;
	color:#fff; background:#000; border-radius:4px;
	font-size:12px; font-family:'NotoSans KR'; font-weight: 600; 
	letter-spacing:-1px;}
#footer .btn01 img {width:24px; height:24px; margin-right:4px;}
#footer .btn02 {width:100%; height:auto; border-radius:4px;}


/* 플로팅_카톡메뉴 & top버튼 */
.side-pop01 {position:fixed; right: 5%; bottom: 158px; z-index: 10;}
.side-pop01 img {width:40px; height:40px;}
.side-pop01 a {display: block; padding-bottom: 5px; text-align: right;}
 
.side-pop02 {position:fixed; right: 5%; bottom: 110px; z-index: 10;}
.side-pop02 img {width:40px; height:40px;}
.side-pop02 a {display: block; padding-bottom: 5px; text-align: right;}

.foot_bn01 a{
	position:fixed; display: block; 
	width:100%; height:60px; line-height:60px; bottom:0px; z-index: 50; 
	background:url('../images/common/ico_arrow_next02.png') no-repeat 95% 50% #f40006; background-size:24px 24px;
	font-family:'Noto Sans KR'; font-size:20px; font-weight:700; color:#fff; text-align:center;}   


.foot_bn02 {
	position:fixed; width:90%; height:70px; bottom:10px; z-index:55;
	left:5%; bottom:18px; z-index: 50; 
	box-shadow: rgba(0,0,0,0.1) 0px 0px 15px; border-radius:16px; background:#fff;
	font-family:'Noto Sans KR'; font-size:20px; font-weight:700; color:#f40006; 
	text-align:center; overflow:hidden;}	
.foot_bn02 .close{position:absolute; width:16px; right:10px; top:10px;}
.foot_bn02 .bn {width:auto; height:70px;}
    




 
