/* font */
@font-face {
    font-family: 'SCDream'; font-style: normal; font-weight: 500;
    src: local('SCDream'),
        url('../../partners/font/S-CoreDream-5Medium.woff2') format('woff2'), 
        url('../../partners/font/S-CoreDream-5Medium.woff') format('woff'),}
        
@font-face {        
    font-family: 'SCDream-4'; font-style: normal; font-weight: 400;
    src: local('SCDream-4'),
        url('../../partners/font/S-CoreDream-4.woff2') format('woff2'), 
        url('../../partners/font/S-CoreDream-4.woff') format('woff'),}
        
/*--- common selector ---*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,form,fieldset,p,button{margin:0;padding:0;}

body,input,select,textarea{color:#000; font-family:'Noto Sans KR','Apple SD Gothic Neo', sans-serif, 'Montserrat','Nanum Gothic', 'malgun gothic', Arial, Verdana, AppleGothic;  font-size:93.75%; font-weight:normal;} /* 93.75% == 15px */
body{background-color:#fff; -webkit-text-size-adjust: none}
hr{display:none;}
img,fieldset{border:0;}
img,input,select,textarea{vertical-align:middle;}
ul,ol,li{list-style:none;}
a{color:#000;text-decoration:none;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
a:link,a:hover,a:active{text-decoration:none;}
input{vertical-align:middle}
input[type="text"], input[type="password"]{-webkit-appearance:none}
input[type="radio"]{border:none;-webkit-appearance:none}
button,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"]{-webkit-appearance:button;border-radius:0}
textarea{-webkit-appearance:none}
.ir{overflow:hidden;text-indent:-1000em;}
.invisible{display:none;}
.hide{visibility:hidden;width:1px;height:1px;line-height:0;overflow:hidden;position:absolute;top:-10000px;left:0;font-size:0;}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal;}

html,body { margin: 0px; padding: 0px; height: 100%;}
#wrap {position:relative; width:100%; min-width:320px; min-height:100%; height:100%; }
* {padding:0; margin:0;}




/* header */
#header {width:100%; height:110px; position:fixed; top:0px; z-index:10;}
.top {width:100%; height:60px; background-color:#000; color:#fff;}
.top h1 {font-size:20px; margin-left:5%; font-family:'Noto Sans KR';}
.top_mn {margin-right:3%;}
.top_mn ul {display:flex;}
.top_mn ul li a {display:block; height:60px; line-height:60px; font-size:10px;}

.topmn_bg {
	overflow: hidden; position: relative; width: 40px; height: 50px; margin: 0 auto;
	background: url(../images/common/nav.png);
	background-size: 360px 180px; vertical-align: top;}	
.top_search {background-position: -5px -100px;}
.top_cate {background-position: -65px -100px;}
.top_my {background-position: -125px -100px;}


	/* gnb */
.gnb {width:100%; height:50px; background-color:#fff; border-bottom:solid 1px #F5F5F5; overflow:hidden;}
.gnb ul {display:flex; justify-content:space-evenly; }
.gnb ul li a {display:block; height:48px; line-height:48px; padding:0 8px;}
.gnb ul li a.on {border-bottom:solid 2px #F40006; color:#F40006; font-weight:bold;}

	/* 하단 nav */
#nav {
	width:100%; height:50px; position:fixed; bottom:0px;  z-index:10;
	border-top:solid 1px #E1E0E1; background-color:#fff;}
#nav ul {display:flex; justify-content:space-evenly; }
#nav ul li a {display:block; height:50px; line-height:50px; font-size:10px;}

.nav_bg {
	overflow: hidden; position: relative; width: 50px; height: 50px; margin: 0 auto;
	background: url(../images/common/nav.png);
	background-size: 360px 180px; vertical-align: top;}	
.home {background-position: 0px 0;}
.cate {background-position: -60px 0;}
.comu {background-position: -120px 0;}
.cus {background-position: -180px 0;}
.my {background-position: -240px 0;}
.home_on {background-position: 0px -50px;}
.cate_on {background-position: -60px -50px;}
.comu_on {background-position: -120px -50px;}
.cus_on {background-position: -180px -50px;}
.my_on {background-position: -240px -50px;}

/* common */
.bg_g {background-color:#F5F5F5;}
.w90 {padding:0 5%;}
.img_w100 {width:100%;}
.mw600 {max-width:600px;}
.pt80 {padding-top:80px;}
.pb40 {padding-bottom:40px;}
.pb72 {padding-bottom:72px;}

.flex {display:flex; align-items:center;}
.flex_js_center {justify-content:center;}
.flex_btw {justify-content: space-between;}
.flex_end {display:flex; justify-content:flex-end;}
.flex_start {display:flex; align-items:flex-start;}

.blue {color:#0500F4;}
.red {color:#f40006;}
.red02 {color:#CE1032;}
.gray {color:#77777a;}
.black {color:#222225;}
.white {color:#ffffff;}
.yellow {color:#FDFD00}
.bold {font-weight:bold;}

/* contents */
#container {
	width:100%; height:100%; margin-top:110px; margin-bottom:50px;}
.main_con {margin:0 auto; text-align:center;}


	/* 성공사례 메인 영상 영역 */
.key02 {margin:0px 0 95px 0}

.bg_good_a {position:relative;
	margin:0 auto 95px auto; width:100%; height:310px;
	background:url(../images/common/good_a01.png) no-repeat top center;}

.key_main .mv_keymain {width:130px; height:231px; object-fit:cover;}
.key_main video{
	border:solid 4px #fff; border-radius:16px;
	background:#fff; text-align:right; 
	box-shadow: 0 5px 20px 0 rgba(205, 205, 205, 1);
	position: absolute; top:42px; left:50%; margin-left:-65px; z-index:5; overflow: hidden;}	

.mv_keysub {width:120px; height:213px; object-fit:cover;}	
.key_left video{
	border:solid 4px #fff; border-radius:16px;
	background:#fff;
	box-shadow: 0 5px 20px 0 rgba(205, 205, 205, 1);
	position: absolute; top:55px; left:50%; margin-left:-150px; z-index:4; overflow: hidden;}
.key_right video{
	border:solid 4px #fff; border-radius:16px;
	background:#fff;
	box-shadow: 0 5px 55px 0 rgba(205, 205, 205, 1);
	position: absolute; top:55px; left:50%; margin-left:25px; z-index:3; overflow: hidden;}


	/* 성공사례 b */
.good_case {
	line-height:150%;
	font-family:'SCDream-4','NotoSans KR'; font-size:15px; text-align:left;
	margin-bottom:24px;}
.case_area {display: flex; justify-content: space-between; margin-bottom:8px;}
.case_area .ad_img {margin-right:4%;}
.case_area .ad_img video {
	border:solid 4px #ffffff; border-radius:16px; background:#fff;
	box-shadow: 0 5px 20px 0 rgba(205, 205, 205, 1);}
.case_area .mv {width:120px; height:209px; object-fit:cover;}
.case_area .ad_img img {width:120px; height:209px; border:solid 4px #ffffff; border-radius:16px; box-shadow: 0 5px 20px 0 rgba(205, 205, 205, 1);}

.case_area .txt_area {width:100%;}
.case_area .txt_area .profile {margin:0px 0 8px 0;}
.case_area .txt_area .profile img {height:18px;}
.case_area .txt_area .copy {margin-bottom:16px;}
.case_area .txt_area .copy img {height:40px;}
.case_area .txt_area .result {font-size:11px; font-weight:normal; line-height:150%;}
.case_area .txt_area .result .h4 {
	width:40px; display:inline-block; font-weight:700; letter-spacing:-1px;}

.marketing {
	font-size:12px; font-weight:normal; line-height:150%; color:#77777a;
	margin-top:16px;}
.marketing .h5 {font-size:16px; font-weight:600; margin-bottom:8px; color:#222225;}
.marketing .h6 { font-size:12px;
	width:65px; display:inline-block; font-weight:700; margin-right:4px; color:#222225;}
	
.good_case .h7 {font-weight:500; color:#77777a; font-size:11px;}
.txt_add {color:#77777a; font-size:11px; padding-bottom:230px;}
.marketing ul li {padding:1px 0; font-size:11px;}

a.btn_main02 {
	display:inline-block; width:120px; height:30px; line-height:30px;
	color:#fff; background:#222225; border-radius:30px; text-align:center;
	font-size:12px; font-family:'SCDream-4','NotoSans KR'; font-weight: 500; }
	
a.btn_main03 {
	display:inline-block; width:160px; height:50px; line-height:50px; 
	color:#fff; background:#CE1032; border-radius:8px;
	font-size:18px; font-family:'SCDream','NotoSans KR'; font-weight: 500; 
	letter-spacing:-1px; margin-bottom:24px;}
	
	
.btn_bt_area {margin:40px 0 48px 0;} /* 메인 특별프로모션 버튼 영역 */
.btn_bt_area a {margin:0 1%;}
.btn_bt_area img {width:27%;}



/* footer */
.footer {padding:70px 5% 196px 5%;}



/* 플로팅_카톡메뉴 & top버튼 */
.side-pop01 {position:fixed; right: 5%; bottom: 158px; z-index: 10;}
.side-pop01 img {width:40px; height:40px;}
.side-pop01 a {display: block; padding-bottom: 5px; text-align: right;}
 
.side-pop02 {position:fixed; right: 5%; bottom: 110px; z-index: 10;}
.side-pop02 img {width:40px; height:40px;}
.side-pop02 a {display: block; padding-bottom: 5px; text-align: right;}

a.btn_ad {
	position:fixed; display: block; 
	width:100%; height:50px; line-height:50px; bottom:50px; z-index: 50; 
	box-shadow: rgba(0,0,0,0.1) 0px -15px 15px; border-radius:16px 16px 0 0; background-color:#CE1032; 
	font-family:'Noto Sans KR'; font-size:20px; font-weight:700; color:#fff; text-align:center;}   
    
/* 29cm 

#nav02 {
	width:100%; height:50px; position:fixed; bottom:50px; 
	border-top:solid 1px #E1E0E1; background-color:#fff;}

#nav02 ul {display:flex; justify-content:space-evenly; }
#nav02 ul li a {display:block; height:48px; line-height:48px; font-size:10px; padding:0 8px;}
#nav02 ul li a.on {border-bottom:solid 2px #F40006; color:#F40006; font-weight:bold;}

.nav_bg02 {
	overflow: hidden; position: relative; width: 56px; height: 56px; margin: 0 auto;
	background: url(https://img.29cm.co.kr/next-edition/2023/11/21/1c79c29d951f432babaed05aac2cc22d_20231121155719.png);
	background-size: 360px 168px; vertical-align: top;}
.home02 {background-position: 0px 0;}
.cate02 {background-position: -60px 0;}
.comu02 {background-position: -120px 0;}
.cus02 {background-position: -180px 0;}
.my02 {background-position: -240px 0;}




 
