/*--- common selector ---*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,form,fieldset,p,button{margin:0;padding:0;}

body,input,select,textarea{color:#000; font-family:'Noto Sans KR','Apple SD Gothic Neo', sans-serif, 'Montserrat','Nanum Gothic', 'malgun gothic', Arial, Verdana, AppleGothic;  font-size:93.75%; font-weight:normal;} /* 93.75% == 15px */
body{background-color:#fff; -webkit-text-size-adjust: none}
hr{display:none;}
img,fieldset{border:0;}
img,input,select,textarea{vertical-align:middle;}
ul,ol,li{list-style:none;}
a{color:#000;text-decoration:none;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
a:link,a:hover,a:active{text-decoration:none;}
input{vertical-align:middle}
input[type="text"], input[type="password"]{-webkit-appearance:none}
input[type="radio"]{border:none;-webkit-appearance:none}
button,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"]{-webkit-appearance:button;border-radius:0}
textarea{-webkit-appearance:none}
.ir{overflow:hidden;text-indent:-1000em;}
.invisible{display:none;}
.hide{visibility:hidden;width:1px;height:1px;line-height:0;overflow:hidden;position:absolute;top:-10000px;left:0;font-size:0;}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal;}

html,body { margin: 0px; padding: 0px; height: 100%;}
#wrap {position:relative; width:100%; min-width:320px; min-height:100%; height:100%; }
* {padding:0; margin:0;}




/* container */
#header {width:100%; height:110px; position:fixed; top:0px;}
.top {width:100%; height:60px; background-color:#000; color:#fff;}
.gnb {width:100%; height:50px; background-color:#fff; border-bottom:solid 1px #F5F5F5;}
.gnb ul {display:flex; justify-content:space-evenly; }
.gnb ul li a {display:block; height:48px; line-height:48px; padding:0 8px;}
.gnb ul li a.on {border-bottom:solid 2px #F40006; color:#F40006; font-weight:bold;}
.gnb ul li a:hover {border-bottom:solid 2px #F40006;}

#container {
	width:100%; height:100%; background-color:lightyellow;
	margin-top:110px; margin-bottom:50px;}

#nav {
	width:100%; height:50px; position:fixed; bottom:0px; 
	border-top:solid 1px #E1E0E1; background-color:#fff;}

#nav ul {display:flex; justify-content:space-evenly; }
#nav ul li a {display:block; height:48px; line-height:48px; font-size:10px; padding:0 8px;}
#nav ul li a.on {border-bottom:solid 2px #F40006; color:#F40006; font-weight:bold;}

.nav_bg {
	overflow: hidden; position: relative; width: 50px; height: 50px; margin: 0 auto;
	background: url(../images/nav.png);
	background-size: 360px 100px; vertical-align: top;}
.home {background-position: 0px 0;}
.cate {background-position: -60px 0;}
.comu {background-position: -120px 0;}
.cus {background-position: -180px 0;}
.my {background-position: -240px 0;}






 
