/*--- common selector ---*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,form,fieldset,p,button{margin:0;padding:0;}

body,input,select,textarea{color:#000;     font-family: 'Montserrat', 'Nanum Gothic', 'malgun gothic', Arial, Verdana, AppleGothic, sans-serif;  font-size:87.5%;font-weight:normal;} /* 87.5% == 14px */
body{background-color:#fff; -webkit-text-size-adjust: none}
hr{display:none;}
img,fieldset{border:0;}
img,input,select,textarea{vertical-align:middle;}
ul,ol,li{list-style:none;}
a{color:#000;text-decoration:none;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
a:link,a:hover,a:active{text-decoration:none;}
input{vertical-align:middle}
input[type="text"], input[type="password"]{-webkit-appearance:none}
input[type="radio"]{border:none;-webkit-appearance:none}
button,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"]{-webkit-appearance:button;border-radius:0}
textarea{-webkit-appearance:none}
.ir{overflow:hidden;text-indent:-1000em;}
.invisible{display:none;}
.hide{visibility:hidden;width:1px;height:1px;line-height:0;overflow:hidden;position:absolute;top:-10000px;left:0;font-size:0;}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal;}

html,body { margin: 0px; padding: 0px; height: 100%;}
#wrap {position:relative; width:100%; min-width:320px; min-height:100%; height:100%; }
* {padding:0; margin:0;}




/* container */
#container {width:100%; }
#container img {width:100%;}
