@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css); 

html {scroll-behavior: smooth;} 

body, form, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, fieldset, legend { padding:0; margin:0; }
ul, ol, li { list-style:none; margin:0;}
img { border:0;}
hr{ display:none;}
a { text-decoration:none; cursor:pointer;}
a:hover { text-decoration:none; }

.hidden { display:block; position:absolute; top:-1000px; left:-1000px;}
.displayNone { display:none;}
.clear { display:block; float:none; clear:both; height:0; width:100%; font-size:0 !important; line-height:0 !important; overflow:hidden; margin:0 !important; padding:0 !important;}

body {font-size: 15px; color:#222225; letter-spacing:-0.5px; font-weight:500;
font-family: -apple-system,BlinkMacSystemFont,'Malgun Gothic','맑은 고딕',helvetica,'Apple SD Gothic Neo',helvetica,'나눔바른고딕 옛한글','NanumBarunGothic YetHangul',sans-serif;
}
input {font-family: -apple-system,BlinkMacSystemFont,'Malgun Gothic','맑은 고딕',helvetica,'Apple SD Gothic Neo',helvetica,'나눔바른고딕 옛한글','NanumBarunGothic YetHangul',sans-serif;}

#wrap {width:100%; height:100%;}
* {padding:0; margin:0;}

html, body {height:100%;}
/* common */
.font13 {font-size:13px;}

.blue {color:#0500F4;}
.red {color:#f40006;}
.red02 {color:#CE1032;}
.gray {color:#77777a;}
.black {color:#222225;}
.white {color:#ffffff;}
.yellow {color:#FDFD00}
.bold {font-weight:bold;}

.mr24 {margin-right:24px;}

.flex {display:flex; align-items:center;}
.flex_js_center {justify-content:center;}
.flex_btw {justify-content: space-between;}
.flex_end {display:flex; justify-content:flex-end;}
.flex_start {display:flex; align-items:flex-start;}
.flex_grow {flex-grow:1;}
.align_center {align-self: center;}


/* ★header */
#header {position:sticky; top:0; width:100%; min-width:1680px; height:130px; z-index:10; }

.top {position:relative; width:100%; min-width:1680px; height:50px; background-color:#FF4081;}
.top h1 {height:100%; line-height:50px; font-size:24px; color:#fff; margin:0 0 0 24px;}  

.snb_area {position:relative; width:100%; min-width:1680px; height:79px; background-color:#F5F5F5; border-bottom:solid 1px #E1E0E1; }
.snb_area .left {margin:0 0 0 24px;}
.snb_area .right {margin:0 24px 0 0;}

.top_btn_area a {margin-right:8px;}
a.btn_100 {
	display: block; position: relative; width: 100px; 
	padding:12px 0px 12px 0px;
	font-size:14px; font-weight:700; text-align: center; 
	border-radius: 4px; transition: all 0.2s;
}
a.btn_100L {
	display: block; position: relative; width: 100px; 
	padding:11px 0px 11px 0px;
	font-size:14px; font-weight:700; text-align: center; 
	border-radius: 4px; transition: all 0.2s;
} 
.btnPink {background: #FF4081; color: #fff;}
.btnBlack {background: #222225; color: #fff;}
.btnWhiteL {background: #fff; color:#222225; border:solid 1px #222225;}
.btnPinkL {background: #fff; color:#FF4081; border:solid 1px #FF4081;}

.top_sort {width:100%;}
.top_sort ul{ display:flex; flex-direction: row;}
.tab01 {background-color:#E6E6E6; padding:2px; border-radius:4px; margin-right:8px;}
.tab01 li a {display:inline-block; padding:10px 12px 10px 11px; border-radius:3px; color:#77777a; font-size:14px;}
.tab01 li a.on {border:solid 1px #FF4081; color:#FF4081; font-weight:700; background:#fff;}

	
/* ============================= ★container  ============================= */
#container {position:relative; width:100%; min-width:1680px; margin: 0 auto;}

.contents {min-height:1024px; width:100%; align-items:stretch;}
.border_right {border-right:solid 1px #E1E0E1;}

.sec01 {width:100px; padding:48px 16px 48px 24px;}
.sec02 {width:100px; padding:48px 16px 48px 12px;}
.sec03 {padding:48px 24px 96px 32px;}

.cate_item {display:flex; justify-content:space-between; width:100px;}
.it01 {width:60px;}

.left_mn h2 {font-size:16px; font-weight:700; margin-bottom:24px;}
.left_mn li {padding-bottom:20px; }
.left_mn li a {display:block; color:#222225; line-height:1.3; text-align:left; font-size:15px;}
.left_mn li a:hover {color:#FF4081; display:block;}
.left_mn li a.on {color:#FF4081; font-weight:700;}

.top_search_area {height:32px; padding:4px; margin-right:8px; border-radius:4px; background-color:#222225; border:solid 1px #222225;}
.top_search_area .search_box {
	height:32px; width:180px; background:#fff; 
	border-radius:4px; padding:0px;}
.top_search_area .search_txt {
	width:100px; height:100%; border:none; background:none; outline:none; 
	float:left; padding:0 8px; color:#000; font-size:16px; line-height:30px;}
.top_search_area .search_btn {float:right; width:60px; height:100%; background:#222225; color:#fff; border:none; font-size:14px; font-weight:700; display:flex; justify-content:center; align-items: center;}

/* 검색창 디자인02 */
.top_search_area02 {margin-right:8px; border-radius:4px; border:solid 1px #222225;}
.top_search_area02 .search_box {
	height:30px; width:180px; background:#fff; 
	border-radius:4px; padding:5px;}
.top_search_area02 .search_txt {
	width:125px; border:none; background:none; outline:none; 
	float:left; padding:0 8px; color:#000; font-size:16px; line-height:30px;}
.top_search_area02 .search_btn {float:right; width:30px; height:100%; background:#fff; border:none; font-size:16px; display:flex; justify-content:center; align-items: center;}

.table table {width:100%; min-width:1328px; max-width:1720px; border-collapse: collapse; border-top:solid 2px #444444; color:#222225; line-height:140%; margin-bottom:60px;}
.table th {height:64px; text-align:center; border-bottom:solid 1px #E1E0E1; background-color:#f5f5f5;}
.table td {padding:12px 10px; text-align:center; border-bottom:solid 1px #E1E0E1; min-height:52px; line-height:160%;}
.table td.thumb img {width:150px; margin:18px 0 13px 0;}
.table td.thumb {width:150px; padding:0px;}
.table .txt_left {text-align:left;}
.table tr.bg_gray {background-color:#F5F5F5;}

.pro_name {font-weight:800;}
.table_title {font-weight:700; padding:2px 0 24px 0;}

a.btn_s03 {
    display: inline-block; position: relative; padding: 4px 8px; margin: 10px 0px; 
    font-size:13px; font-weight:bold; color: #222225; letter-spacing:-0.5px; 
    border:solid 1px #E1E0E1; background-color:#ffffff; 
    box-shadow: 0 1px 1px 0 rgba(205, 205, 205, 0.5); border-radius:3px;}

.page_num { display:flex; justify-content:center;  width:100%; text-align:center;}
.page_num ul {margin:20px 2px 0 2px;}
.page_num li {float:left; list-style:none; text-align:center; margin: 0 4px;}
.page_num li a {
	display:block; width:30px; height:30px;  
	color:#77777a; font-size:15px; line-height:30px; 
	}
.page_num li a:hover {color:#222225; display:block; font-weight:700;}
.page_num li a.on {color:#fff; font-weight:700; background-color:#222225; border-radius:4px;}

        
/* 플로팅_카톡메뉴 & top버튼 */
.side-pop01 {
    position:fixed; right: 70px; bottom: 10px;}
.side-pop01 a {
    display: block; padding-bottom: 5px; text-align: right;}
 
.side-pop02 {
    position:fixed; right: 15px; bottom: 15px;}
.side-pop02 a {
    display: block; padding-bottom: 5px; text-align: right;}
    
/* ★footer */
.footer {position:relative; clear:both; width:100%; min-width:1680px; background-color:#222;}
.footer .text {padding:16px 24px; font-size:14px; color:#77777a; text-align:center;}



/* ============================= 팝업 ============================= */
.mask{
	position: fixed; left: 0; top: 0; background: rgba(0, 0, 0, 0.7); 
	width: 100%; height: 100vh; z-index:200; display:;}
	
.close_w30 img {width:30px;}
button {background:none; border:0px;}

.pop_r8 {
	display:; position:fixed; left: 50%; top: 50%; transform: translate(-50%,-50%); 
	height:90vh; z-index:500; background: #fff; border-radius:8px; 
	overflow:scroll; overflow-x: hidden;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);}
.pop_r8 .title { 
	position:sticky; top:0; z-index:50;
	height:80px; background:#FF4081; color:#fff; font-family:'Noto Sans KR';
	font-size:26px; font-weight:600; letter-spacing:-1px;
	display:flex; justify-content:space-between;
	padding:0 20px 0 40px; border-radius: 7px 7px 0 0;}
.pop_r8 .con {
	padding:40px 40px 48px 40px; font-size:18px; line-height:150%; color:#222225;}

.w720 {width:720px;}

.list li {display: flex; min-height:50px; padding:12px 0; border-bottom:solid 1px #E1E0E1; font-size:15px;}
.list .tt {flex-basis: 130px; flex-shrink: 0; text-align: left;  font-weight:600; align-self: center; padding-left:16px; line-height:1.3;}
.list .txt {width:100%; text-align: left; padding-right:16px; display: flex;  justify-content : space-between; align-self: center;}
.list .txt02 {width:100%; text-align: left; padding-right:16px; } 
.list .txt02 p {align-self: center;}

.pop_input_box {
    height:50px; width:95.5%; padding:0 2%;
    background:#fff; border:solid 1px #E1E0E1; border-radius:4px;}
.pop_input_box .input_txt {
    width:100%; border:none; background:none; outline:none; color:#222225;
    font-size:15px; letter-spacing:-0.7px; line-height:50px;}

a.pop_btn01 {
	display: block; position: relative; min-width:100px; padding:12px 12px;
	font-size:15px; font-weight:500; text-align: center; letter-spacing:1px;
	border-radius: 4px; transition: all 0.2s; 
}
a.pop_btn01L {
	display: block; position: relative; min-width:100px; padding:12px 12px;
	padding:11px 0px 11px 0px;
	font-size:14px; font-weight:700; text-align: center; 
	border-radius: 4px; transition: all 0.2s;
} 
.bg_gray {background-color:#F5F5F5;}
.noline {border-bottom:0px !important;}

.textarea02 {height:300px; width:95.5%; padding:2%;
    background:#fff; border:solid 1px #E1E0E1; border-radius:4px;}
.comment_write02 {width: 100%; height: 300px; text-align: left; resize: none; outline: 0 none; border: 0px; font-size:15px;}
	
/* 라디오 버튼 */
label { line-height: 2rem; padding: 0 16px 0 0; }
fieldset {border:0px; padding:0px !important;}
[type="radio"],span { vertical-align: middle;}
[type="radio"] {
	vertical-align: middle; appearance: none;
	border: 1px solid #77777a; border-radius: 50%; width: 1.25em; height: 1.25em;}
[type="radio"]:checked {border: 5px solid #FF4081;}

