
/* ★header */
#header_main {
	position:sticky; top:0; width:100%; min-width:1400px; height:90px; z-index:10;
	}
	/* ☆1depth  */
.gnb_area {
	position:relative; width:100%; height:90px; background-color:#222;
	}
.gnb_in {
	width:1400px; margin:0 auto; color:#fff; font-size:18px;
	}
.gnb_in .logo {float:left;  width:144px; height:90px; margin-right:64px;}
.gnb li {float:left; list-style:none;}
.gnb li a {
	height:89px; display:block;  padding:0 24px 0 0; 
	color:#ffffff; font-size:18px; line-height:89px; font-weight:700;}
.gnb li a:hover {color:#DE032C; display:block;}
.gnb li a.on {color:#f40006;}
		/* 로그인 메뉴  */
.login ul li {
	float:right; height:90px; line-height:89px; padding:0 6px; font-size:14px; color:#999999;
	}
.login ul li.mypage a{display: block; text-align: left; color:#999999; padding: 0 0 0 30px;
    background:url(../images/common/icon_mypage_r.png) 0% 50% no-repeat;}
    
.login ul li.mypage02 a{display: block; text-align: left; color:#999999; padding: 0 0 0 30px;}
.login ul li.mypage02 a {display:flex; align-items:center;}
.login ul li.mypage02 img {width:36px; height:36px; border-radius:24px; margin-right:8px;}


	
/* ============================= ★container  ============================= */
#container_main {
	position:relative; width:100%; height:100%; min-width:1400px; }
	
section {position:relative; width:100%;}
.bg_w {background:#fff; text-align:center;}
.bg_g {background:#F5F5F5; text-align:center;}
.main_con {
	width:1400px; text-align: center; margin:0 auto;}
	
.main_box01 {
	width:764px; height:468px; border:solid 10px #F5F5F5; border-radius:24px;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2); margin:0 auto;}

.img01 {margin:140px 0 52px 0;}
.img02 {margin:52px 0 133px 0;}
.img03 {margin:210px 0 100px 0}
.btn_bt_area {margin-bottom:110px;}
a.btn_main {
	display:inline-block; width:440px; height:120px; line-height:120px; 
	color:#fff; background:#CE1032; border-radius:32px;
	font-size:38px; font-family:'SCDream','NotoSans KR'; font-weight: 500; letter-spacing:-1px; margin-bottom:230px;}
.main_con .txt01 {
	font-family:'SCDream-3','NotoSans KR'; font-size:20px; font-weight:normal; letter-spacing:-1px; margin-bottom:230px;}
.t54 {font-family:'SCDream';  font-weight:500; font-size:54px; color:#222225; margin-bottom:32px;}

/* font */
@font-face {
    font-family: 'SCDream'; font-style: normal; font-weight: 500;
    src: local('SCDream'),
        url('../font/S-CoreDream-5Medium.woff2') format('woff2'), 
        url('../font/S-CoreDream-5Medium.woff') format('woff'),}
        
@font-face {        
    font-family: 'SCDream-3'; font-style: normal; font-weight: 300;
    src: local('SCDream-3'),
        url('../font/S-CoreDream-3.woff2') format('woff2'), 
        url('../font/S-CoreDream-3.woff') format('woff'),}



